<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTB Metrics</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <script src="assets/js/userdata.js" defer></script> -->
</head>

<body>

    <div class="badge">

        <div class="header-container">
            <div class="header-avatar" display>
                <img src="https://www.hackthebox.com/storage/avatars/f0147ca4b3abce7c3d0930fdfad174cc.png" href=""
                    alt="Avatar">
            </div>

            <!-- <div class="header-avatar" display>
                <img class="user_avatar" alt="User Avatar">
            </div> -->

            <!-- HEADER -->
            <div class="header-info">

                <p class="header-font line" display>
                    <span class="user_name"></span>
                    <span class="user_rank"></span>
                </p>

                <div class="panel-default" display>
                    <p class="line" display>

                        <span display class="globalrank icon">
                            <img src="https://app.hackthebox.com/images/icons/ic-icons-kickass/ic-ranks-big2.svg">
                            <span class="panel-classic"><span class="ranking"></span></span>
                        </span>

                        <span display class="userflag icon">
                            <img src="https://app.hackthebox.com/images/icons/ic-machines/ic-userflag.svg"><span
                                class="panel-classic"><span class="user_owns"></span></span>
                        </span>

                        <span display class="rootflag icon">
                            <img src="https://app.hackthebox.com/images/icons/ic-machines/ic-rootflag.svg"><span
                                class="panel-classic"><span class="system_owns"></span></span>
                        </span>

                        <span display class="points icon">
                            <img src="https://app.hackthebox.com/images/icons/ic-other/ic-points.svg"><span
                                class="panel-classic"><span class="points"></span></span>
                        </span>

                        <span display class="respect icon">
                            <img src="https://app.hackthebox.com/images/icons/ic-profile/ic-respect.svg"
                                style="height: 35px; width: 35px;"><span class="panel-classic"><span
                                    class="respects"></span></span>
                        </span>
                    </p>

                    <div class="panel-detailed line" display>

                        <span display class="machines icon">
                            <img
                                src="https://app.hackthebox.com/images/icons/ic-icons-kickass/ic-machines-big.svg"><span
                                class="panel-classic"><span class="user_os_0_owned_machines"></span></span>
                        </span>

                        <span display class="fortress icon">
                            <img
                                src="https://app.hackthebox.com/images/icons/ic-icons-kickass/ic-fortress-big.svg"><span
                                class="panel-classic"><span
                                    class="user_fortresses_0_completion_percentage"></span></span>
                        </span>

                        <span display class="endgame icon">
                            <img src="https://app.hackthebox.com/images/icons/ic-icons-kickass/ic-endgame-big.svg"><span
                                class="panel-classic"><span class="user_endgames_0_completion_percentage"></span></span>
                        </span>

                        <span display class="challenges icon">
                            <img
                                src="https://app.hackthebox.com/images/icons/ic-icons-kickass/ic-challenges-big.svg"><span
                                class="panel-classic"><span class="user_challenge_owns_solved"></span></span>
                        </span>

                        <span display class="userblood icon">
                            <img src="https://app.hackthebox.com/images/icons/ic-machines/ic-userblood.svg"><span
                                class="panel-classic"><span class="user_bloods"></span></span>
                        </span>

                        <span display class="rootblood icon">
                            <img src="https://app.hackthebox.com/images/icons/ic-machines/ic-rootblood.svg"><span
                                class="panel-classic"><span class="system_bloods"></span></span>
                        </span>

                    </div>
                </div>

            </div>

        </div>

        <!-- STATS -->
        <div class="data-font">

            <p class="line" display>
                <span>Global Ranking: <span class="user_ranking"></span></span><br>
                <span>User Owns: <span class="user_owns"></span></span><br>
                <span>Systems Owns: <span class="system_owns"></span></span><br>
                <span>Global Ranking: <span class="ranking"></span></span><br>
                <span>Team Ranking: <span class="user_team_ranking"></span></span><br>
                <span>Team Best Rank: <span class="team_data_rank"></span></span><br>
            </p>

        </div>
        <div class="footer-container" display>
            <!-- <a href="https://www.hackthebox.com" class="footer-link">hackthebox.com</a> -->

            <img src="https://account.hackthebox.com/images/logos/logo-htb.svg" class="htb_logo">
            <div class="footer-font" display>
                <!-- <span>These metrics include private contributions</span><br> -->
                <span class="last_update"></span> - Last activity: <span class="last_activity"></span>
                <!-- <span>Last updated 18 Oct 2024, 11:46:14 with lowlighter/metrics@3.34.0</span><br> -->
                <p class="date" class="line data" display></p>
                <!-- <span>Start Hacking - Start Learning</span><br> -->
            </div>

        </div>

    </div>

    <!-- Place the script here -->
    <script src="assets/js/userdata.js"></script>

</body>


</html>